.nameLink {
	cursor: pointer;
	background: lightgray;
	padding: 0.5rem;
	margin: 0.5rem;
	white-space: nowrap;
	border-radius: 5px;
}

.children, .parents, .infos, .territories{
	width: 100%;
	padding:1rem;
}