<ng-container *ngIf="galho">
	
	<div [class]="rollclass">
		<div class="parents" *ngIf="galho.parents.length > 0">
			<h4>Líderes</h4>
			<span class="nameLink" *ngFor="let parent of galho.parents" (click)="view(parent.userId,'goDown')">
				{{parent.userInfos.Name}}
			</span>
		</div>

		<div class="infos">
			<img [src]="galho.userInfos.FullPhotoUrl">
			<h3>{{galho.userInfos.Name}}</h3>
			<h3>{{galho.userInfos.Email}}</h3>
			<h3>{{galho.userInfos.UserRole.Name}}</h3>
		</div>

		<div class="territories">
			<h3 *ngFor="let territory of galho.territories">
				{{territory.Territory2.Name}}
			</h3>
		</div>

		<div class="children" *ngIf="galho.children.length > 0">
			<h4>Equipe</h4>
			<span class="nameLink" *ngFor="let child of galho.children" (click)="view(child.userId,'goUp')">
				{{child.userInfos.Name}}
			</span>
		</div>
	</div>

</ng-container>